body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #1e1327;
  background-image: url(../public/image/body-bg.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  color: #888888;
  background-size: 100% 100%;
}

.logo{
  width:auto;
  height: 50px;
  /*padding: 10px 10px;*/
  float:left
}
a{
  font-family: 'Poppins', sans-serif;
  color: white;
}
.topDropdown{
  /*background: #16104e !important;*/
  float: right;
}
.topDropdown .Dropdown-control{
  /*background: #16104e !important;*/
  color:honeydew;
  border: none;
}


@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  /*animation: spinner 1.5s linear infinite;*/
  background-size: 100%;
  width: 400px;
  height: 400px;
  background: url(../public/image/demo.gif) 50% 50% no-repeat #1e1327;
}

.spinner-container {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #1e1327;
  background-image: url(../public/image/body-bg.jpg);
  background-position: top center;
  background-attachment: scroll;
  z-index: 10000;
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  height: 900px;
  overflow-y: hidden;
  /*overflow-x: hidden;*/
}


.site-footer {
  background-color: #170f1f;
  background-image: url(../public/image/footer-bg.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: fit-content;
}
.underline-footer{
  width: 100%;
  height: 1px;
  background: #bfbfbf;
}

.footer-title{
  color: #ff8000;
  font-size: 25px !important;
  font-variant: inherit;

}
.footer-title:hover{
  /*color: white;*/
  text-decoration: none !important;

}
.a{
  font-size: 14px;
}
.footer-item{
  color: #bfbfbf;
  cursor: pointer;
  padding-top: 15px;
}
.footer-item:hover{
  color: #ff8000;
}
.content-wrapper{
  margin-top: 50px;
  padding-left: 50px;
}
.copy-right{
  padding: 5px 20px;
  text-align: center;
  color: #bfbfbf;
}
.search-input {
  background-image: url("./components/share-image/icons8-search-more-32.png");
  display: inline-block;
  width: 230px;
  height: 21px;
  background-repeat: no-repeat;
  background-position: 100% 0;
  vertical-align: middle;
  border: 0.2px solid #888888;
}
